<div class="jumbotron bg3">
  <h1 class="display-1 center">Mythological Database</h1>
  <p class="lead center">Mythological characters database, with bit of story and the place where they where invented</p>
</div>
<div class="row fixed">
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bg1 center cell "><h2>Image</h2></div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bg3 center cell "><h2>Name</h2></div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 bg1 center cell "><h2>Description</h2></div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bg3 center cell "><% if user_signed_in? %><h2>Edit</h2><% end %></div>
</div>
<% @artists.each do |artist|%>
  <div class="row fixed">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 <%= cycle('bg3','bg2','bg3','bg2','bg1','bg3', 'bg1', 'bg3')%> center cell">
      <%= link_to '<img width="100%" src="'.html_safe+artist.image_url+'"/>'.html_safe, artist %><br></div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 <%= cycle('bg3','bg2','bg3','bg2','bg1','bg3', 'bg1', 'bg3')%> center cell ">
       <%= link_to artist.name, artist %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 center cell <%= cycle('bg3','bg2','bg3','bg2','bg1','bg3', 'bg1', 'bg3')%> ">
      <%= artist.description.length<1000 ? artist.description.html_safe : artist.description[0,200]+'...' %>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 <%= cycle('bg3','bg2','bg3','bg2','bg1','bg3', 'bg1', 'bg3')%> cell center">
      <% if user_signed_in? %>
        <div class="btn-group-vertical">
          <%= link_to 'Edit', edit_artist_path(artist), class: 'btn btn-outline-primary' %><br>
          <%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger'%>
        </div>
      <% end %>
    </div>
  </div>  
  <% end %>
<br>
<div class="center">
  <% if user_signed_in? %>
    <%= link_to 'New Artist', new_artist_path, class:'btn btn-primary' %>
  <% end %>
</div>