<!DOCTYPE html>
<html>
  <head>
    <title>UtauDB</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body height="100%">
    <div class="container-fluid no-padding">
      <%= render "layouts/header" %>
      <div class="row fixed">
        <div class="col-lg-2 col-md-1 col-sm-1 hidden-xs cell no-padding"> <!--left-->
        </div>
        <div class="col-lg-8 col-md-10 col-sm-10 col-xs-12 cell bg2 no-padding"> <!--left-->
          <%= yield %>
        </div>
        <div class="col-lg-2 col-md-1 col-sm-1 hidden-xs cell no-padding"> <!--right-->
        </div>
      </div>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
